@*<h3>VybaveniRow</h3>*@

                @if (Item == null) return;
                @if (Item.IsInEditMode == false)
                {
                    <tr class="@(Item.NeedRevision?"bg-red-300":"")">
                        <td>@Item.Name</td>
                        <td>@Item.BoughtDate.ToShortDateString()</td>    
                        <td>@Item.LastRevisionDate.ToShortDateString()</td>
                        <td>@(Item.NeedRevision?"Ano":"Ne")</td>
                        <td class="flex gap-1">
                    <button @onclick="() => DeleteItemCallback.InvokeAsync()" class="twbtn bg-red-400">Smazat</button>
                    <button style="background-color:blue" @onclick="() => Item.LastRevisionDate = DateTime.Now">Provést revizi</button>
                    <button @onclick="() => Item.IsInEditMode = true" class="twbtn bg-amber-300">✏️</button>
                    </td>
                    </tr>
                } else
                {
                    <tr>
                        <td><input @bind-value=Item.Name/></td>
                        <td><input type="date" @bind-value=Item.BoughtDate/></td>    
                        <td><input type="date" @bind-value=Item.LastRevisionDate/></td>
                        <td>@(Item.NeedRevision?"Ano":"Ne")</td>

                        <td class="flex gap-1">
                        <button @onclick="() => Item.IsInEditMode = false" class="twbtn bg-green-500">OK</button>
                        </td>
                    </tr>
                }

@code {
    [Parameter] public VybaveniModel? Item { get; set; }

    [Parameter] public EventCallback<VybaveniModel> DeleteItemCallback { get; set; }

}
