@page "/vybaveni/{Id:guid}"
@inject HttpClient Http

<h3>Detail vybaveni:</h3>

@if(item==null)
{
    <Loading></Loading>
    return;
}

<div class="grid grid-cols-2"> 

  <div class="bg-blue-400">Název</div>
  <div class="bg-red-500">@item.Name</div>

   <div class="bg-blue-400">Cena</div>
  <div class="bg-red-500">@item.Price</div>

   <div class="bg-blue-400">Nakoupeno</div>
  <div class="bg-red-500">@item.BoughtDate.ToString("yyyy-MM-dd")</div>

   <div class="bg-blue-400">Poslení revize</div>
  <div class="bg-red-500">@item.LastRevisionDate.ToString("yyyy-MM-dd")</div>

     <div class="bg-blue-400">Potřebuje revizi</div>
  <div class="bg-red-500">@(item.NeedRevision?"Ano":"Ne")</div>
</div>

<a class="twbtn bg-yellow-400" href="/vybaveni" style="display:inline-block; padding: 10px">Zpět</a> 

@code {
    [Parameter] public Guid Id{ get; set; }

    VybaveniModel? item;

    protected override async Task OnInitializedAsync()
    {
        item = await Http.GetFromJsonAsync<VybaveniModel>($"vybaveni/{Id}");
    }
}
